{% load static %}
{% block content %}

            <div class="col-md-12 col-lg-4 sidebar">
                <div class="sidebar-box search-form-wrap">
                    <form action="{% url 'blog:list' %}" class="search-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <span class="icon fa fa-search"></span>
                            <input type="search" name="search" class="form-control" id="s"
                                   placeholder="Type a keyword and hit enter">
                        </div>
                    </form>
                </div>

                <div class="sidebar-box">
                    <div class="bio text-center">
                        <img src="{% static 'images/person_2.jpg' %}" alt="Image Placeholder" class="img-fluid">
                        <div class="bio-body">
                            <h2>Craig David</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem facilis sunt
                                repellendus excepturi beatae porro debitis voluptate nulla quo veniam fuga sit
                                molestias minus.</p>
                            <p><a href="#" class="btn btn-primary btn-sm rounded">Read my bio</a></p>
                            <p class="social">
                                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="sidebar-box">
                    <h3 class="heading">Popular Posts</h3>
                    <div class="post-entry-sidebar">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="{% static 'images/img_1.jpg' %}" alt="Image placeholder" class="mr-4">
                                    <div class="text">
                                        <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                        <div class="post-meta">
                                            <span class="mr-2">March 15, 2018 </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="sidebar-box" >
                    <h3 class="heading">Categoriess</h3>
                    <ul class="categories">
                        {% for category in categories %}
                        <li><a href="{% url 'blog:category' %}?cat={{ category.title }}">{{ category.title }}<span>{{ categories_set.count}}</span></a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="sidebar-box">
                    <h3 class="heading">Tags</h3>
                    <ul class="tags">
                        {% for tag in tags %}
                        <li><a href="{% url 'blog:category' %}?tag={{ tag.title }}">{{ tag.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

{% endblock %}